:root{
    --clr-font-dark: #352f36;
    --clr-ivory: #FFFFF0;
    --clr-snow-white: #FAF9F6;
    --clr-silver: #8e8e90;
    --clr-onyx: #49494b;
    --clr-orange: #ffc548;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: clamp(1rem, 0.75 + 1.5vw, 2rem);
    line-height: calc(1ex / 0.32);
    -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
    max-inline-size: 50ch;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
    font-size: 1rem;
    color: var(--clr-ivory);
    min-height: 100vh;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('./food.jpg') top left / cover fixed var(--clr-onyx);
}

.app-header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: 1.5em 4.5em;
    margin-bottom: 4em;
}

.app-header__brand-link__text {
    font-size: 1.25em;
}

.nav-list {
    display: grid;
    grid-auto-flow: column;
    gap: 2.5em;
    justify-content: center;
}

.nav-list__item:hover {
    text-decoration: underline;
}

button {
    background-color: transparent;
    border: 0;
    color: inherit;
}

.app-header__action-buttons {
    display: flex;
    gap: 1em;
    align-items: center;
}

.action-button--bag {
    display: grid;
    justify-content: center;
}

.action-button--reservation {
    color: var(--clr-font-dark);
    padding: 0.75em 2.0em;
    border-radius: 2.5em;
    background-color: var(--clr-orange);
}

.shopping-bag-image {
    width: 1.5em;
}

.app-footer {
    padding: 0.5em 0;
    margin-top: auto;
    align-self: center;
}






